[
 {rabbit,  [
    {tcp_listeners, [5672]},
    {ssl_listeners, [5671]},
    {ssl_options, [{cacertfile,           "/opt/ca/ca.pem"},
                   {certfile,             "/opt/ca/localhost.pem"},
                   {keyfile,              "/opt/ca/localhost-key.pem"},
                   {verify,               verify_peer},
                   {fail_if_no_peer_cert, false}
        ]}
  ]}
].
